@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}

@layer utilities {
  /* Personaliza el scrollbar */
  ::-webkit-scrollbar {
    @apply w-3; /* Ancho del scrollbar */
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full; /* Fondo y bordes redondeados */
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#e7351686] rounded-full; /* Color y bordes redondeados */
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#E73516]; /* Hover color */
  }
}
